body{
    background-image: url('images/background.png');
    background-size: cover;
    background-attachment: fixed;
}

#tittle{
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
}

.main-navbar{
    text-align: center;
    font-size: large;
}
.main-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-navbar li{
    display: inline;
}

#text{
    text-align: justify;
    color: #fff;
    font-size: large;
}

#active-page{
    font-size: larger;
    font-weight: bold;
    color: crimson;
}

#reset{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
  
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    transform: rotateY(180deg);
  }