#bg-img{
    
    width: 100%;
    height: 100%;
}

#player-1{
    bottom: 0;
    vertical-align: bottom;
}

#player-2{
    bottom: 0;
    vertical-align: bottom;
}
#parent-div{
    position: relative;
}

.buttonsp1 >*{
    display: inline;
}

.buttonsp2 >*{
    display: inline;
}

.buttonsp2{
    display: inline;
    right:0px;
}

.buttonsgame >* {
    display: inline;
    font-family: "Lucida Console";
    font-weight: bold;
    font-size: 20px;
}
.buttonsgame{
    display: flex;
}


.buttonssetgame{
    font-family: "Lucida Console";
    font-weight: bold;
    background-color: black;
    color: blanchedalmond;
    border: none;
    text-decoration: none;
    font-size: 20px;
}

.buttonsresetdiv{
    
    margin: auto;
}

.audio{
    position: absolute;
    display: none;
}
